<h1>Rooms#edit</h1>
<p>Find me in app/views/rooms/edit.html.erb</p>

<h2>Edit Room</h2>
<%= render "form", hotel: @hotel, room: @room %>
<%= link_to "Back", hotel_rooms_path(@hotel), class: "btn btn-secondary" %>