<h1>Rooms#new</h1>
<p>Find me in app/views/rooms/new.html.erb</p>

<h2>New Room</h2>
<%= render "form", hotel: @hotel, room: @room %>
<%= link_to "Back", hotel_rooms_path(@hotel), class: "btn btn-secondary" %>