{% extends "base.html" %}
{% block content %}
<h1>{{action}} Hotel</h1>

<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input id="name" name="name" class="form-control" value="{{hotel.name if hotel}}">
    </div>

    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input id="location" name="location" class="form-control" value="{{hotel.location if hotel}}">
    </div>

    <div class="mb-3">
       <label for="rating" class="form-label">Rating</label>
       <input id="rating" name="rating" type="number" min="1" max="5" class="form-control" value="{{hotel.rating if hotel}}">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" class="form-control">{{hotel.description if hotel}}</textarea>
    </div>

    <button class="btn btn-success">{{action}}</button>
    <a href="{{url_for('hotels_list')}}" class="btn btn-secondary">Cancel</a>

</form>
{% endblock %}